{
     "trailingComma": "none",
     "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
     "tabWidth": 5,
     "printWidth": 100,
     "overrides": [
          {
               "files": "**/lwc/**/*.html",
               "options": { "parser": "lwc" }
          },
          {
               "files": "*.{cmp,page,component}",
               "options": { "parser": "html" }
          }
     ]
}
